*{
	margin:0px;
	padding:0px;
	overflow-x: hidden;
}
body{
	background-color: rgba(0,0,0, .1);
}
a{
	text-decoration:none; 
	display: contents;
	color:white;
}
.a_post{
	color:black;
}

#exit{
	background-color: rgba(150,0,0,.8);
	margin-left: 45%;
	width: 50px;
	text-align: center;
}

#header{
	height: 50px;
	width: 100%;
	padding: 10px 30px;
	border:2px solid black;
	position: fixed;
	background-color: gray;
	color: white;
	font-family: Arial;
	font-size: 1.1em;
}

#hover_el{	
	margin-left: 13px;
	margin-right: 30px;
	box-shadow: 40px 4px 28px rgba(76,109,148,0.65), 0 10px 10px rgba(0,0,0,0.22);
}


#my_work{
	box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.22);
}


.section{
	margin-top: 3px; 
	display: inline-block;
	padding: 10px;
	border-radius: 20px;
	background-color: #4C6D94;
	cursor: pointer;
}
.section:hover{
	background-color: #4C6DC7;
}



#feed{
	margin:90px 20% 30px 20%;
	padding: 5px 5px 0px 5px;
	background-color: white;
	box-shadow: 0 14px 5px white; 
}

#feed h2{
	font-family: cursive;
}
#share_btn{
	margin:9px 20%;
}


#sub_contact{
	width: 220px;
	height: 60%;
	position: fixed;
	left:20%;
	top:220px; 
	background-color: white;
	padding-top: 10px;
	box-shadow: 0 14px 5px white; 
}
#sub_contact h2{
	text-align: center;
	font-family: cursive;
	margin-bottom: 10px;
}


.contact{
	padding-left: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.contact a{
	color: black;
}
.shape{
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50px;
	background-color: #4C6D94;
}
.contact_name{
	display: inline-block;
	margin-left: 3px;	
}

.friend{
	background-color: gray !important;
}
.yourPage{
	background-color: green !important;
}


#user_works{
	width: 42%;
	height: 60%;
	position: fixed;
	left:calc(20% + 220px + 20px);
	top:220px; 
	background-color: white;
	padding-top: 10px;
	margin-right:20%; 
	box-shadow: 0 14px 5px white; 
}
#user_works h2{
	text-align: center;
	font-family: cursive;
	margin-bottom: 10px;
}
#user_works a{
	color: black;
}
.article{
	padding: 15px;
	font-size: 1.1em;
}
.article button{
	float:right;
	font-size: .7em;
}



.btn{
	display: inline-block;
	padding: 10px;
	font-family: Arial;
	font-size: 1.0em;
	font-weight: bold;
	color: white;
	cursor: pointer;
	border:.5px solid #4C5CF4;
	background-color: #4C8BF4;
}