{% extends 'base.html'%}

{% block title %}
	BS - Приветствуем вас!
{% endblock %}

{%block url_static_css%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/helloStyle.css')}}">
{%endblock%}

{%block url_static_js%}
<script type="text/javascript" src="{{ url_for('static', filename='js/helloScripts.js')}}" defer></script>
{%endblock%}

{% block content %}

	<div id="welcome_text">
		BitGoals was created by a team of veteran entrepreneurs from the sports and gaming industries, that joined forces in order to create one of the biggest, most fundamental projects in the sports, gaming and crypto worlds. Each team member brought his own experience, ideas and passions to the project, creating the unique and ambitious combination that you can see today.
	</div>

	<div id="log_wrap">
		<div class="btn" id="login">Авторизация</div>
		<div class="btn" id="reg">Регистрация</div>
	</div>

	<form id="form_auto" action="{{url_for('enter', act='auto')}}" method="GET" class="form">Авторизация<br><br>
		Введите свой логин: <input type="text" id="auto_login" name="login" class="input" value=""><br>
		Введите свой пороль: <input type="text" id="auto_pass" name="password" class="input" value=""><br>
		<button type="submit" class="btn" id="enter">Войти</button>
	</form>
	
	<form id="form_reg" action="{{url_for('enter', act='reg')}}" class="form" method="POST"><strong>Регистрация</strong><br><br>
		Придумайте себе логин: <input type="text" id="reg_login" name="login" class="input" value=""><br>
		Придумайте себе пороль: <input type="text" id="reg_pass" name="password" class="input" value=""><br>
		Введите своё имя: <input type="text" id="reg_name" name="name" class="input" value=""><br>
		Введите свою фамилию: <input type="text" id="reg_surname" name="surname" class="input"><br>
		<button type="submit" class="btn" id="reg_order">Зарегистрироваться</button>
	</form>

{% endblock %}