{% extends 'base.html'%}

{% block title %}
	{{ FI + ' - work' }}
{% endblock %}

{%block url_static_css%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myWorkStyle.css')}}">
{%endblock%}

{%block url_static_js%}
<script type="text/javascript" src="{{ url_for('static', filename='js/myWorkScripts.js')}}" defer></script>
{%endblock%}

{% block content %}
		<div id="header">
			<div id="my_work" class="section"><a href="\?myWork=true">Мой работы</a></div>
			<div id="hover_el" class="section"><a href="\?">Мой логин: {{login}}</a></div>
		</div>

	<div id="feed">
		<form method="GET" action="{{url_for('post_create')}}">
			<input type="text" id="title" class="input" name="title" value="{{title}}"><span class="error" id="error_title">Название не длиннее 45 символов!</span><br><br>
			<textarea id="text" name="text">{{text}}</textarea><span class="error" id="error_text">Текст не короче 100 символов!</span>

		<hr><em>Автор: {{login}}</em>
		<button class="btn" type="submit" id="done">Опубликовать</button>
		<button class="btn" id="save">Сохранить</button>
		</form>
	</div>

{%endblock%}