{% extends 'base.html'%}

{% block title %}
	{{ FI }} - BS
{% endblock %}

{%block url_static_css%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/userStyle.css')}}">
{%endblock%}

{%block url_static_js%}
<script type="text/javascript" src="{{ url_for('static', filename='js/userPageScripts.js')}}" defer></script>
{%endblock%}

{% block content %}
	{%if auto: %}
		<div id="header">
			<div id="my_work" class="section"><a href="{{url_for('my_work')}}">Мой работы</a></div>
			<div id="hover_el" class="section"><a href="\?">Мой логин: {{login}}</a></div>
		</div>
	{%endif%}

	<div id="feed">
		<h2>{{FI}} ({{login}})</h2>		
	</div>

	{% if auto: %}
		<div id="share_btn">
			{% if check_yourPage:%}
				<button class="btn yourPage">Ваш профиль</button>
			{%elif not check_friend:%}
				<button class="btn" id="addCont"><a href="{{url_for('manipulate_contacts', action='add', login=login)}}">Добавить в контакты</a></button>
			{%else:%}
				<button class="btn friend"><a href="{{url_for('manipulate_contacts', action='delete', login=login)}}">Убрать из контактов</a></button>
			{%endif%}

			<button class="btn">Написать сообщение</button>
		</div>
	{% endif %}


	<div id="sub_contact">
		<h2>Контакты</h2>
		{% for contact in contacts: %}			
			<div class="contact">
				<div class="shape"></div> 
				<div class="contact_name">
					<a href="{{url_for('user_page', nickname_or_id=contact['nickname'])}}">{{contact['FI']}}</a>
				</div>
			</div>
		{% endfor %}
	</div>

	<div id="user_works">
		<h2>Статьи пользователя</h2>
		{% for article in articles: %}
			<div class="article">
				<a href="{{url_for('post_page', id=article['id'])}}">{{article['title']}}</a> <button class="btn">Нравиться</button>
			</div>
		{% endfor %}
	</div>

{% endblock %}